<h1 class="todo_list_title">New Todo List</h1>

<div class="forms">
<<<<<<< HEAD
	<%= render 'form' %>
</div>

<div class="links">
	<%= link_to 'Back', todo_lists_path %>
</div>
=======
	<%= render 'form', todo_list: @todo_list %>
</div>


<div class="links">
	<%= link_to 'Back', todo_lists_path %>
</div>

>>>>>>> fc1fb727f8c703bbe912d4535ecad629812cf40f
